MarkupSafe==3.0.3
numpy==2.4.2
opencv-python==4.13.0.92
Werkzeug==3.1.6
Flask==2.3.3
Flask-Session==0.5.0
python-dotenv==1.0.0
google-generativeai==0.3.2
weasyprint==62.3
matplotlib==3.10.8
seaborn==0.13.2
pytz==2024.1
